<header class="header">
    <div class="header-puzzle">
        <a class="title" href="../index.html">PUZZLE</a>
    </div>

    <nav class="menu">
        <ul>
            <li>
                <a href="./index.html#team">EQUIPO</a>
            </li>
            <li>
                <a href="./index.html#members">QUIENES SOMOS</a>
            </li>
            <li>
                <a href="#contact">CONTACTO</a> 
            </li>
        </ul>  
    </nav>
</header>

<main>
    <div class="hero">    
    </div>