<footer>
  <hr>
    <div class="f-wrapper">
        <div class="item item--1">Puzzle ©2019</div>
        <a class="item item--2" href=https://adalab.es target="_blank"></a>
        <nav class="item item--3"> 
            <ul style="list-style-type:none" >
              <li>
                <a href="index.html#team" title="equipo">EQUIPO</a>
              </li>
              <li>
                <a href="index.html#members" title="miembros">QUIEN SOMOS</a>
              </li>
              <li>
                <a href="contact.html" title="contacto">CONTACTO</a>
              </li>
            </ul>
        </nav>
      </div>
</footer>


