<div class="form__content">
    <form action="https://formspree.io/xyywoylr" method="POST">
        <div class="form__content--name">
            <label for="full-name">Nombre completo<span>*</span></label>
            <input type="text" name="full-name" id="full-name" placeholder="Nombre..." required />
        </div>

        <div class="form__content--mailphone">

            <div class="form__content--email">
                <label for="email">Email<span>*</span></label>
                <input type="email" name="email" id="email" required placeholder="nombre.apellidos@mail.com">
            </div>

            <div class="form__content--phone">
                <label for="phone">Teléfono</label>
                <input type="tel" name="phone" id="phone" placeholder="Ej:123456789">
            </div>
        </div>

        <div class="form__content--text">
            <label for="message">Mensaje<span>*</span></label>
            <textarea name="message" rows="5" cols="20" placeholder="¿Qué necesitas?"></textarea>
        </div>

        <div class="form__content--submit">
            <input type="submit" value="enviar">
        </div>

    </form>
</div>