<header class="header">
    <div class="header-puzzle">
        <a class="title" href="#" title="Enlace a la home">PUZZLE</a>
    </div>

    <nav class="menu">
        <ul>
            <li>
                <a href="#team" title="enlace a seccion equipo">EQUIPO</a>
            </li>
            <li>
                <a href="#members" title="enlace a seccion miembros">QUIENES SOMOS</a>
            </li>
            <li>
                <a href="contact.html" title="enlace a formulario de contacto">CONTACTO</a> 
            </li>
        </ul>  
    </nav>
</header>

<main>
    <div class="hero">    
        <div class="claim_container">
            <div class="claim">
                <h2>Tenemos la pieza que resuelve tu rompecabezas</h2>
            </div>
        </div>
    </div>