
<section class="strenghts-weakness">

    <div class="triangle"></div>

    <div class="sw-container">

        <div class="strenghts">
            <h4>Fortalezas</h4>
            <p>La ilusión y la motivación son nuestra bandera. Todo proyecto, reto o rompecabezas es un desafio que enfrentamos con aptitudes como la capacidad para resolución de problemas, el trabajo en equipo y el desarrollo bajo presión.
            </p>
        </div>

        <div class="weakness">
            <h4>Debilidades</h4>
            <p>La reciente introdución al desarrollo front-end nos limita las competencias técnicas, por lo que trabajamos día a día para redefinir nuestro perfil profesional hacía el sector tecnológico y ampliar nuestros conocimientos.
            </p>
        </div>

    </div>
</section>