<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contacto PUZZLE</title>
    <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500&display=swap');</style>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/contact.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_cheaderandhero.html" label="CHeaderAndHero"></partial>
      <partial src="_csection.html" label="Csection"></partial>
      <partial src="_form.html" label="Form"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>