<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Trabajo de grupo Synergy</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" crossorigin="anonymous"/>
    <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500&display=swap');</style>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_headerandhero.html" label="HeaderAndHero"></partial>
      <partial src="_teamsection.html" label="TeamSection"></partial>
      <partial src="_strengthsaside.html" label="StrengthsAside"></partial>
      <partial src="_members.html" label="Members"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>
