.header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 3;
    font-family: $mainFont;

    @include tabletSize {
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: $mainColor;
        opacity: 0.9;
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
    }

    .header-puzzle {
    width: 100%;
    background-color: $mainColor;
    opacity: 0.95;
    padding: 0.93rem;
    height: 3.75rem;


        @include tabletSize {
        padding: 0; 
        display: flex;
        justify-content: flex-start;
        align-items: center;
        }
    }

    .title {
    color: $whiteColor;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    padding-top: 0.62rem;
    text-decoration: none;

        @include tabletSize {
            text-align: left;
            margin-left: 2.81rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-top: 0;
        }

        @include desktopSize {
            margin-left: 138px;
        }
    }

}


.menu {
    background-color: $secondaryColor;
    opacity: 0.9;
    padding-top: 0.93rem;
    font-size: 0.93rem;
    font-weight: 800;
    height: 2.81rem;
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
    

    @include tabletSize {
        height: 3.75rem;
        background-color: $mainColor;
        opacity: 0.9;
        text-align: right;
        padding-right: 45px;
        padding-top: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    @include desktopSize {
        text-align: right;
        padding-right: 138px;
    }

    & ul li {
    display: inline;
    padding-right: 0.62rem;
    
        a {
            text-decoration: none;
            color: $whiteColor;
            padding-top: 0.5rem;
            padding-bottom: 0.43rem;
            left: 1rem;
            right: 1.06rem;
            

            &:hover{
                text-decoration: underline;
                font-size: 1rem;
            }
        }
    }

}

.hero {
    background: url(../images/piezas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65vh;

    @include tabletSize {
        justify-content: flex-start;
        padding-left: 5%;
        height: 40vh;
        background-position: center;
        padding-left: 45px;
    }

    @include desktopSize{
        justify-content: flex-start;
        height: 60vh;
        padding-left: 138px;
    }

    .claim_container {
        transform: translate(0px, 31px);
        width: 290px;
        z-index: 2;

        @include tabletSize {
            width: 55vw;
            transform: none;
        }

        @include desktopSize {
            width: 574px;
        }

        .claim {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            background: $whiteColor;
            width: 100%;
            height: 20%;
            padding: 3%;
            font-family: $secondaryFont;
            font-stretch: normal;
            font-style: normal;
    
            @include tabletSize {
            opacity: 0.8;
            width: 441px;
            height: 80px;
            }
            

            h2 {
                font-size: 1.125rem;
                text-align: center;

                @include tabletSize {
                text-align: left;
                line-height: 1.39;
                padding-left: 3%;
                padding-right: 3%;
                padding-top: 1.5%;
                padding-bottom: 1.5%;
                }

                @include desktopSize {
                text-align: left;
                padding-left: 2%;
                padding-right: 2%;
                padding-top: 1%;
                padding-bottom: 1%;
                }
            }
        }
    }

} 