
/* DEVICES */
$tablet: 768px;
$pc: 1200px;

/* COLORS */
$mainColor: #099D8D; /*Colorsecondary*/
$secondaryColor: #14D9C4; /* fcolorSecondarydaylighter */
$whiteColor: white; /* footerBg, navColor,h_ClaimBackgroundColor  */
$textColor: #54585A; /*footerNavColor, fcolorPrimary */
$placeHolder: #B8B8B9; /*fcolorLight*/

/*TIPOGRAFIAS */
$mainFont: 'RubiK';
$secondaryFont: 'Open Sans', sans-serif;

/* MEDIDAS */
$fullwidth: 100vw;
$fullheight: 100vh;

/* MEDIDAS ASIDE */

$triangleSize: 30px;
$spaceUnit: 0.9375rem;
$headerFontSize: 1.37rem;
$headerLineHeight: 2.05;
$textLineHeight: 1.5;
